* {
    font-family: "Didact Gothic", sans-serif;
}

ul, ul li {
    list-style: none;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    list-style: none;
    text-decoration: none;
}

.navbar-expand-lg .navbar-collapse {
    align-items: end;
    justify-content: end;
}

/* 
    cores pardão -> #021859; #022859; #2A7ABF; #548DBF; #D9D9D9
        
*/

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #D9D9D9 !important;
}

.navbar-brand {
    margin-left: 10px;
    color: #021859;
    font-weight: 800;
}

.navbar-brand span {
    font-weight: 400;
}

.logo-nav {
    width: 25%;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar.scrolled .logo-nav {
    width: 15%;
  }

.active {
    font-weight: 800;
    color: #021859 !important;
}

.nav-link {
    color: #021859 !important;
    cursor: pointer;
    font-size: 18px;
}

.nav-link:hover {
    font-weight: 600;
}

.btn-costum {
    background-color: #021859;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 600;
    color: #d9d9d9;
    letter-spacing: 2px;
}

.spaccing {
    padding: 85px;
}

.banner {
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0,0.5)), url(../assets/sao-jose.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 700px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner .container h2 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
}

.banner .container p {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.about {
    height: 700px;
    background-image: url(../assets/isa-foto-1.jpg);
    background-size: 50%;
    background-position: right top;
    background-repeat: no-repeat;
}

.about-container {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
}

.about .container, .about .row {
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.about h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 40px;
    border-bottom: 1px solid #548DBF;
}

.about p {
    font-size: 20px;
}

.about .about-container .container .row .col-sm-6:nth-child(2) .about-img {
    display: none;
}

.chronometer {
    background-image: linear-gradient(#022859, #022859c4), url(../assets/Bandeira_de_SJP.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    height: 700px;
}

.chronometer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.chronometer .row .col-sm-3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chronometer h2 {
    font-size: 42px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

.chronometer p {
    font-size: 38px;
    font-weight: 600;
    color: white;
}

.chronometer .days-hours {
    background-color: #D9D9D9;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 100%;
    font-size: 40px;
    font-weight: 700;
    color: #021859;
}

.chronometer .days-hours span {
    font-size: 24px;
    font-weight: 60;
}

.electoral-stronghold {
    height: 1900px;
    width: 100%;
    background-image: url(../assets/proposta.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.project {
    background-image: linear-gradient(#022859e3, #022859e3), url(../assets/vector.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 40px;
    padding-bottom: 40px
}

.project .container {
    height: 100%;
}

.project .row {
    align-items: center;
    justify-content: center;
    height: 100%;
}

.project .col-sm-4 {
    cursor: pointer;
}

.project h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #D9D9D9;
}

.project img {
    width: 100%;
    border-radius: 4px;
}

.project span {
    font-size: 24px;
    color: #D9D9D9;
}

.project .title {
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
}

.project .title h2{
    font-size: 38px;
}

::ng-deep .modal-content {
    width: 1000px !important;
}

::ng-deep .modal-title {
    font-size: 32px;
    font-weight: 600;
    color: #D9D9D9;
}

::ng-deep .modal-body {
    font-size: 24px;
    text-align: justify;
}

::ng-deep .modal-body img {
    width: 100%;
    border-radius: 10px;
}

::ng-deep .modal-dialog {
    margin-right: 25%;
    margin-left: 25%;
}

::ng-deep .modal-header {
    background-color: #021859;
}

/* cores pardão -> #021859; #022859; #2A7ABF; #548DBF; #D9D9D9 */

.conclusion {
    padding-top: 40px;
    padding-bottom: 40px;
}

.conclusion h2 {
    font-size: 32px;
    font-weight: 600;
    color: #021859;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #021859;
    text-align: center;
}

.conclusion p {
    font-size: 24px;
    text-align: justify;
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../assets/1062.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

footer .row .col-sm-7 img {
    width: 100%;
}

footer .row .row .col-12 img {
    width: 10% !important;
}

footer .col-sm-5 {
    padding-top: 200px;
}

footer h2 {
    font-size: 42px;
    font-weight: 500;
}

footer span {
    font-size: 28px;
}

footer .row .row {
    margin-top: 40px
}

footer .row .row span {
    cursor: pointer;
}

footer .row .row span:nth-child(2) {
    margin-top: 40px;
}

footer a {
    text-decoration: none;
    font-style: none;
}

footer a {
    color: #fff;
}

/* footer .col-sm-4:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: left;
}

footer .col-sm-4:nth-child(1) p {
    font-size: 22px;
    font-weight: 700;
    color: #D9D9D9;
    margin-left: 20px;
    margin-top: 15px;
}

footer .col-sm-4:nth-child(1) p span {
    font-size: 20px;
    font-weight: 500;
}

footer .col-sm-4:nth-child(1) img{
    width: 30%;
    border-radius: 100%;
}

footer .col-sm-4:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .col-sm-4:nth-child(2) h4 {
    font-size: 22px;
    font-weight: 600;
    color: #D9D9D9;
}

footer .col-sm-4:nth-child(2) li {
    font-size: 20px;
    font-weight: 500;
    color: #D9D9D9;
}

footer fa-icon {
    margin-right: 5px;
}

footer .col-sm-4:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column; 
}

footer .col-sm-4:nth-child(3) h4 {
    font-size: 22px;
    font-weight: 600;
    color: #D9D9D9;
    margin-bottom: 20px;
}

footer .col-sm-4:nth-child(3) .col {
    height: 60px;
    width: 60px;
    background-color: #D9D9D9;
    border-radius: 100%;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .col-sm-12 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #d9d9d9;
    margin-top: 20px;
} */

@media (max-width: 550px) {

    .logo-nav {
        width: 25%;
    }
    
    .navbar.scrolled .logo-nav {
        width: 25%;
      }

    .navbar-brand {
        margin-left: -15px;
    }

    .spaccing {
        padding: 45px;
    }

    .banner {
        height: 350px;
    }

    .banner .container h2 {
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
    }

    .banner .container p {
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px;
    }

    .btn-costum {
        padding: 5px 20px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .about {
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: none;
    }

    .about-container {
        background: none;
    }

    .about h2 {
        font-size: 32px;
        font-weight: 600;
    }
    
    .about p {
        font-size: 16px;
        text-align: justify;
    }

    .about .about-container .container {
        padding-top: 20px;
        padding-bottom: 0;
    }

    .about .about-container .container .row {
        padding: 0;
    }

    .about .about-container .container .row .col-sm-6:nth-child(2) .about-img {
        display: block;
    }

    .about .about-container .container .row .col-sm-6:nth-child(2) .about-img img {
        width: 100%;
    }

    .chronometer {
        margin-top: 550px;
    }

    .chronometer h2 {
     font-size: 24px;
    }

    .chronometer p {
        font-size: 18px;
        text-align: center;
    }

    .chronometer .col-sm-3 {
        width: 50%;
    }

    .chronometer .col-sm-3:nth-child(3), .chronometer .col-sm-3:nth-child(4) {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .electoral-stronghold  {
        background-size: 100%;
        height: 523px;
    }

    .project {
        height: 1200px;
    }

    .project h2 {
        font-size: 28px !important;
    }

    ::ng-deep .modal-content {
        width: 100% !important;
    }
    
    ::ng-deep .modal-title {
        font-size: 24px;
    }
    
    ::ng-deep .modal-body {
        font-size: 18px;
    }
    
    ::ng-deep .modal-dialog {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .conclusion h2 {
        font-size: 24px;
    }
    
    .conclusion p {
        font-size: 18px;
    }

    footer .col-sm-7 img{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer .col-sm-5 {
        padding: 20px;
    }

}